<%- include('partials/header') %>
<style>
  section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
    margin: 20px auto;
  }
  </style>
<div class="jumbotron text-center">
  <div class="container">
    <div>
      <h1>Mensagens Recebidas</h1>
      <hr>
      <% if (typeof eumesmo !== 'undefined' && typeof eumesmo.messages!== 'undefined') { %>
        <ul>
          <% eumesmo.messages.forEach(function(message) { %>
            <li><section><%= message.content %></section></li>
          <% }); %>
        </ul>
      <% } else { %>
        <section>
          <p>Não há mensagens recebidas ainda, elas aparecerão aqui.</p>
        </section>
      <% } %>
    </div>
    <i class="fas fa-key fa-6x" style="color:#3e8e7a"></i>
    <h1 class="display-3">Selecione para qual usuário vai enviar a mensagem</h1>
    <form method="POST" action="/users">
      <select name="username" id="users">

          <% users.forEach(function(user){ %>
            <option value="<%=user.username%>"><%=user.username%></option>
          <% }) %>

      </select>
    
      <hr>
      
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <input class="btn btn-dark btn-lg" type="submit" role="button" value="Escolher usuário"></input>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
